{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}

    <div class="container">

        <div class="row mt-5 mb-3">
            <div class="col d-flex align-items-center">
                <h1>Courses</h1>
                <a href="{{ path('app_course_new') }}" class="btn btn-primary ms-auto">Create new
                    <i class="bi bi-plus-circle m-1"></i>
                </a>
            </div>
        </div>
        <div class="">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_home') }}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Home courses</li>
                </ol>
            </nav>
        </div>


        <div class="card shadow">
            <div class="table-responsive card-body">
                <table id="coursesTable" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Duration(Hrs)</th>
                        <th>Employees</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Los datos se llenarán por DataTables vía AJAX -->
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}
