{% extends 'base.html.twig' %}

{% block title %}New Trainer{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-5 mb-3">
            <div class="col">
                <h1>Create new Trainer</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_home') }}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{ path('app_trainer_index') }}">Trainers</a>
                        </li>
                        <li class="breadcrumb-item active">New employee</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-body ">
                {{ include('trainer/_form.html.twig') }}

                <div class="row">
                    <div class="col align-items-center">
                        <a href="{{ path('app_trainer_index') }}" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i> Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
