{% extends 'base.html.twig' %}

{% block title %}Employee index{% endblock %}

{% block body %}
    <h1>Employee index</h1>


    <a href="{{ path('app_employee_new') }}">Create new</a>

    


    <div class="table-responsive">
    <table id="employeeTableAPI" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Courses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Los datos se llenarán por DataTables vía AJAX -->
        </tbody>
    </table>
</div>
    <!-- filepath: templates/employee/index.html.twig -->

{% endblock %}
