<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="bg-light py-2 shadow-sm">
            <div class="container d-flex justify-content-end">
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': 'es'})) }}" class="btn btn-outline-primary me-2">ES</a>
                <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': 'en'})) }}" class="btn btn-outline-primary">EN</a>
            </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
